<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WatsMyMajor</title>
  <link rel="icon" href="/public/images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    {{#if prereqs}}
      <a href="/trees/{{ subject }}/{{ catalog_number }}">View Prerequisites Tree</a>
    {{/if}}
  </nav>
  <h1>{{ course }}</h1>
  <p>Offered in: {{ terms }}</p>
  <h3>{{ description }}</h3>
  {{#if prereqs}}
    <h2>Prerequisites:</h2>
    {{#each prereqs}}
      <li>{{ this }}</li>
    {{/each}}
  {{/if}}
  {{#if coreqs}}
    <h2>Corequisites</h2>
    <li>{{ coreqs }}</li>
  {{/if}}
  {{#if antireqs}}
    <h2>Antirequisites</h2>
    {{#each antireqs}}
      <li>{{ this }}</li>
    {{/each}}
  {{/if}}
  {{#if crosslistings}}
    <h2>Cross Listings</h2>
    <li>{{ crosslistings }}</li>
  {{/if}}
  <div class="words" contenteditable>
    {{ string }}
  </div>
</body>
</html>
