<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WatsMyMajor</title>
  <link rel="icon" href="/public/images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    {{#if prereqs}}
      <a href="/trees/{{ subject }}/{{ catalog_number }}">View Prerequisites Tree</a>
    {{/if}}
    {{#if url}}
      <a href="{{ url }}">Course Information</a>
    {{/if}}
  </nav>
  <h1>{{ course }}</h1>
  {{#if terms}}
    <p>Offered in: {{ terms }}</p>
  {{/if}}
  <div class="words" contenteditable>
    {{ description }}
  </div>
  {{#if prereqs}}
    <h2>Prerequisites:</h2>
    <ul class="reqs">
      {{#each string.prereqs}}
        <li>{{{ this }}}</li>
      {{/each}}
    </ul>
  {{/if}}
  {{#if coreqs}}
    <h2>Corequisites</h2>
    <ul class="reqs">
      {{#each string.coreqs}}
        <li>{{{ this }}}</li>
      {{/each}}
    </ul>
  {{/if}}
  {{#if antireqs}}
    <h2>Antirequisites</h2>
    <ul class="reqs">
      {{#each antireqs}}
        <li>{{{ this }}}</li>
      {{/each}}
    </ul>
  {{/if}}
  {{#if crosslistings}}
    <h2>Cross Listings</h2>
    <ul class="reqs">
      <li>{{{ crosslistings }}}</li>
    </ul>
  {{/if}}
  {{#if parPrereq}}
    <h2>Requires {{ subject }} {{ catalog_number }} As A Prerequisite</h2>
    <ul class="reqs">
      {{#each parPrereq}}
        <li><a href="/wat/{{ this.subject }}/{{ this.cat_num }}">{{ this.subject }} {{ this.cat_num }}</a>
          {{#unless this.optional}}
            [Mandatory]
          {{/unless}}
          {{#if this.alternate}}
            <i>(Can also take: {{ this.alternate }})</i>
          {{/if}}
        </li>
      {{/each}}
    </ul>
  {{/if}}
  {{#if parCoreq}}
    <h2>Requires {{ subject }} {{ catalog_number }} As A Corequisite</h2>
    <ul class="reqs">
      {{#each parCoreq}}
        <li><a href="/wat/{{ this.subject }}/{{ this.cat_num }}">{{ this.subject }} {{ this.cat_num }}</a>
          {{#unless this.optional}}
            (Mandatory)
          {{/unless}}
        </li>
      {{/each}}
    </ul>
  {{/if}}
</body>
</html>
